@import url('https://cdn.syncfusion.com/ej2/material.css');

.calendar {
    margin: 0.5rem;
    margin-top: 6rem;
    padding: 0.5rem;
    border-radius: 1.5rem;


    @media (min-width: 768px) {
        margin: 2.5rem
            /* 40px */
        ;
        padding: 2.5rem
            /* 40px */
        ;
    }
}